@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  width: 60%;
  height: calc(100vh - 40px);
  margin: auto;
}

header {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
  margin-top: 10px;
}
header h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
header p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.header-description {
  width: 40%;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}
.container {
  width: 30%;
  height: 30%;
}
img {
  width: 90%;
  height: 90%;
}
.img-container {
  display: flex;
  flex-direction: row;
}
.container .name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.desig {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  writing-mode: vertical-lr;
  align-self: flex-start;
  padding-left: 3px;
}

.container:nth-of-type(3n - 1) {
  margin-top: 100px;
}

.middle {
  margin-top: 100px;
}

@media (max-width: 1075px) {
  .main {
    width: 90%;
  }
  header {
    flex-direction: column;
    margin-top: 20px;
  }
  .header-description {
    margin-top: 20px;
    width: 100%;
  }
  header p {
    font-size: 16px;
  }
  img {
    width: 85%;
    height: 90%;
  }
  .container {
    width: 45%;
    height: 30%;
  }
  .middle {
    margin-top: 0;
  }
  .container:nth-of-type(3n - 1) {
    margin-top: 0px;
  }
  .container:nth-child(even) {
    margin-top: 40px;
  }
  .desig {
    right: 20px;
    font-size: 14px;
  }
}
